<div class="chat-section">
  <section id="chat">
  <header class="chat_title section_title icon">Chat</header>
  <div class="clear_chat icon" title="clear chat history"></div>
  <article class="chat_content_wrap cf">
    <div class="chat_content_inner">

    
    <!-- .chat_content_inner -->
    </div>
  </article>

  <!-- custom scroll bar -->
   <div class="scroller-container">
            <div class="scrollbar"></div>
        </div>

  <footer class="chat_input cf">
    <input type="text" class="message_input" id="message_input" placeholder="enter text message" />
    <input type="button" class="chat_btn"  value="send" title="enter message">
    <i class="show_online icon" title="view online people"></i>
  </footer>
</section>

<section id="online">
  <header class="online_title section_title icon">online users</header>
  <section class="online_list">

  </section>
</section>
</div>
